/* global */
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
}
.section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style-type: none;

    margin: 0;
    padding-left: 0;
}
a {
    text-decoration:none;
    font-style: normal;
}
.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 72px;
}

.sub-section-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    
   
    margin-bottom: 8px;
}
/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.nav-info {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.address {
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
}
.logo {
    font-family: "Raleway",sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}

.logo-part {
    color: #2e2f42;
    margin-right: 76px;
}
.nav-link {
    color: #2E2F42;
    font-weight: 500;

    display: block;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.nav-link-current {
    position: relative;
    color: #404bbf;
}
.nav-link-current::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
}
.contacts-link {
    color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
   
   
   
   
/* Hero section */
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),url(../images/backgraund/background-hero.jpg);
    max-width: 1440px;
    margin: 0 auto;
}
.hero-title {
    color: #FFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;

    margin: 0 auto;
    margin-bottom: 48px;

}
.button {
    background-color: #4D5AE5;
    color: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;

    display: block;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* Advantages */
.advantages-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.advantages-item {
    flex-basis: calc((100% - 3 * 24px)/4);
}
.adv-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}
/* Team */
.section-team {
    background-color: #F4F4FD;
}
.team-item {
    background-color: #FFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 
    border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}    
.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-social-item {
    width: 40px;
    height: 40px;
}
.team-social-link {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
        
    display: flex;
    align-items: center;
    justify-content: center;    
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}
.team-social-icon{
    fill: #f4f4fd;
    background-repeat: no-repeat;
    background-size: contain;
        
}
.team-info {
    padding: 32px 0;
}
.name {
    text-align: center;
}
.info-text {
    text-align: center;
    margin-bottom: 8px;
}
/* Portfolio */

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    gap: 48px 24px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-info {
    padding: 32px 16px;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
} 

.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-info {
    color: #f4f4fd;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 40px 32px;
}
.portfolio-item:hover .portfolio-overlay-info {
    transform: translateY(0);
}
/* Footer */
.footer-section {
    background-color: #2E2F42;
    padding: 100px 0;

    
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}
.logo-footer-part {
    color: #F4F4FD;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-container-info {
    margin-right: 120px;
}
.footer-social-container{
    padding-bottom: 0px;
}
.footer-social-title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer-social-list{
    display: flex;
    gap: 16px;
    margin: auto;
    padding: 0;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;   
}
.footer-social-icon{
    fill: #f4f4fd;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
