/*-------------------------------------------! Global */

input {
    font-family: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.sub-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}
.section {
    padding: 48px 0;
}
@media only screen and (min-width: 1158px) {
    .section {
        padding: 60px 0;
    }
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
@media only screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
} 
@media only screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 72px;

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1158px) {

}
/* ------------------------------------------- ? Global */
/* ------------------------------------------- !Header */
.nav-list,
.address {
    display: none;
}
.header {
    padding: 16px 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part {
    color: #2e2f42;
}
.nav-menu-btn {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
}

/* ------------------------------------------- ?Header */
/*------------------------------------------- ! Mob Menu */
.mob-menu {
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
}
 .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mob-conteiner-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}
.mob-menu-close {
    background-color: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    padding: 0;
    line-height: 0;
}
.mob-menu-close:hover,
.mob-menu-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
}
.mob-nav-link {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.mob-nav-link:hover,
.mob-nav-link:focus {
    color: #404bbf;
}
.contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
.mob-social-item {
    width: 40px;
    height: 40px;
 
}
.mob-social-link {
    fill: #f4f4fd;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.mob-social-link:hover,
.mob-social-link:focus {
    background-color: #404bbf;
}
.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
}
.mob-address-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 168px;
}
.mob-social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
/*------------------------------------------- ? Mob Menu */

/* ------------------------------------------- ! Modal window */
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    padding: 9px 16px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-conteiner {
    background: #fcfcfc;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    min-width:288px;
    height: 683px;
    padding: 72px 16px 24px 16px;
}

.window-btn-close {
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.window-btn-close:hover,
.window-btn-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.window-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-text {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 16px;
}

.wnw-form-group {
    margin-bottom: 8px;
}

.wnw-form-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    display: block;
    margin-bottom: 4px;
}

.input-icon-conteiner {
    position: relative;
}

.wnw-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
    width: 100%;
    height: 40px;
    border-radius: 4px;

    padding-left: 38px;
}

.wnw-form-input:focus {
    border-color: #4d5ae5;
}

.wnw-input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.wnw-form-input:hover+.wnw-input-icon,
.wnw-form-input:focus+.wnw-input-icon {
    fill: #4d5ae5;
}

.textrea-conteiner {
    margin-bottom: 16px
}

.wnw-textrea {
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    resize: none;

    padding: 8px 16px;
}

textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.wnw-textrea:focus {
    border-color: #4d5ae5;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    margin-bottom: 24px;
}

.checkbox-span {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    border-radius: 2px;
    width: 16px;
    height: 16px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.input-checkbox:checked+.checkbox-label .checkbox-span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.checkbox-link {
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.wnw-btn-send {
    color: #ffffff;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.wnw-btn-send:hover,
.wnw-btn-send:focus {
    background-color: #404bbf;
}

/* ------------------------------------------- ? Modal window */