/*-------------------------------------------! Global */
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
input {
    font-family: inherit;
}
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
img {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    font-style: normal;
}
button {
    cursor: pointer;
}
.section {
    padding: 96px 0;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 72px;
}
.sub-section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 8px;
}
/* ------------------------------------------- ? Global */

/* ------------------------------------------- !Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-info {
    display: flex;
    align-items: center;
}
.nav-list {
    display: none;
    gap: 40px;
}
.address {
    display: none;
    margin-left: auto;
}
.nav-menu-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}
.address-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
}
.logo {
    font-family: "Raleway",sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 

    margin: 16px 0;
}
.logo-part {
    color: #2e2f42; 
}
.nav-link {
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;

    display: block;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.nav-link-current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.nav-link-current::after {
    background-color: #404bbf;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
}
.contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
/* ------------------------------------------- ?Header */
    
/*------------------------------------------- !Hero section */
.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),url(../images/backgraund/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}
.hero-title {
    color: #FFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    width: 216px;

    margin: 0 auto;
    margin-bottom: 72px;
}
.button {
    background-color: #4D5AE5;
    color: #FFF;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    display: block;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/*-------------------------------------------? Hero section */

/*-------------------------------------------! Advantages */
.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
}
.advantages-item {
    flex-basis: calc((100% - 3 * 72px)/4);
}
.adv-icon {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}
/*-------------------------------------------? Advantages */
/*-------------------------------------------! Team */
.section-team {
    background-color: #F4F4FD;
}
.team-item {
    background-color: #FFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 
    border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 3 * 72px) / 4);
}    
.team-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 72px;
}
.team-social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-social-item {
    width: 40px;
    height: 40px;
}
.team-social-link {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
        
    display: flex;
    align-items: center;
    justify-content: center;    
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}
.team-social-icon{
    fill: #f4f4fd;
    background-repeat: no-repeat;
    background-size: contain;   
}
.team-info {
    padding: 32px 0;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.info-text {
    text-align: center;
    margin-bottom: 8px;
}
/*-------------------------------------------? Team */

/*-------------------------------------------! Portfolio */
.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 0.8);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-section-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}
.portfolio-info {
    padding: 32px 16px;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
} 
.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-info {
    color: #f4f4fd;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 40px 32px;
}
.portfolio-item:hover .portfolio-overlay-info {
    transform: translateY(0);
}
/*-------------------------------------------? Portfolio */

/* -------------------------------------------! Footer */
.footer-section {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-text {
    color: #F4F4FD;
}
.logo-footer-part {
    color: #F4F4FD;
}
.logo-footer {
    display:flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer-container-info {
   margin-bottom: 72px;
}
.footer-social-container{
    margin-bottom: 72px;
}
.footer-social-title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer-social-list{
    display: flex;
    gap: 16px;
    margin: auto;
    padding: 0;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;   
}
.footer-social-icon{
    fill: #f4f4fd;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-form-text {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.footer-form-icon {
    margin-left: 16px;
}
.footer-form-input {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    outline: transparent;
    border-radius: 4px;
    min-width: 288px;
    height: 40px;
    padding-left: 16px;
}
.footer-form-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
.footer-form-input:focus {
    border: 1px solid #31d0aa;
}
.footer-form-btn { 
    background-color:#4d5ae5;
    color:#FFF ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    padding: 0 15px;
    min-width: 165px;
    height: 40px;
    
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
   
}
.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31d0aa;
}
/* ------------------------------------------- ? Footer */ 

/* ------------------------------------------- ! Modal window */
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-conteiner {
    background: #fcfcfc;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;

    padding: 72px 16px 24px 16px;
}
.window-btn-close {
        background-color:#e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
}
.window-btn-close:hover,
.window-btn-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.window-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window-text {
    color: #2e2f42; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 16px;
}
.wnw-form-group{
    margin-bottom: 8px;
}
.wnw-form-label {    
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    display: block;
    margin-bottom: 4px;
}
.input-icon-conteiner {
    position: relative;
}
.wnw-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    
    padding-left: 38px;  
}
.wnw-form-input:focus {
    border-color: #4d5ae5;
}
.wnw-input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.wnw-form-input:hover+.wnw-input-icon,
.wnw-form-input:focus+.wnw-input-icon {
    fill: #4d5ae5;
}
.textrea-conteiner {
    margin-bottom: 16px
}
.wnw-textrea {
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    resize: none;
   
    padding: 8px 16px;
}
 textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.wnw-textrea:focus {
    border-color: #4d5ae5;
}
.checkbox-container {
    margin-bottom: 24px;
}
.checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    margin-bottom: 24px;
}
.checkbox-span {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    border-radius: 2px;
    width: 16px;
    height: 16px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.input-checkbox:checked + .checkbox-label .checkbox-span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none; 
}
.checkbox-link {
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.wnw-btn-send {
    color: #ffffff;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.wnw-btn-send:hover,
.wnw-btn-send:focus {
    background-color: #404bbf;
}
/* ------------------------------------------- ? Modal window */

/*------------------------------------------- ! Mob Menu */
.mob-backdrop-menu {
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-conteiner-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 640px;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-left: 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
}

.mob-menu-close {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
    color: #404bbf;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.mob-social-list {
    display: flex;
    justify-content: space-between;
}
/*------------------------------------------- ? Mob Menu */
/* -------------------------------------------!  */
/*  -------------------------------------------? */