/* global */
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFF;
    font-weight: 400;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
/* Header */
.logo {
    font-family: "Raleway",sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part {
    color: #2e2f42;
}
.nav-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.addres-section {
    font-style: normal;
}
.contacts-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
/* Hero section */
.hero-section {
    background-color: #2E2F42;
}
.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}
.button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* Advantages section */
.sub-section-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-text {
    line-height: 1.5;
    letter-spacing: 0.02em
}
/* Team section */
.section-team {
    background-color: #F4F4FD;
}
.portait-team {
    background-color: #FFF;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Portfolio */

/* Footer */
.footer-section {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo-footer-part {
    color: #F4F4FD;
}

